# log
*.log
npm-debug.log*

# grunt intermediate storage
.grunt

# node-waf configuration
.lock-wscript

# dependency directories
node_modules
jspm_packages

# optional npm cache directory
.npm

# optional REPL history
.node_repl_history

# OS generate
.DS_Store
.DS_Store?
._*
.spotlight-V100
.Trashes
.Icon?
ehthumbs.db
Thumbs.db

# ng2
**/src/**/*.js
*.js.map
!**/src/systemjs.config.extras.js
!**/src/systemjs.config.js
!**/src/systemjs-angular-loader.js
**/e2e/**/*.js
**/e2e/**/*.js.map

# compiled output
dist
tmp
out-tsc
build

# test
_test-output/

# code coverage
coverage/

# temporary dirs
tmp/
_tmp/

# visual studio code
.vscode/